<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eatit">

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="false" />
    <uses-feature
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.eatit.Controleur.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.eatit.Controleur.Poids_SuiviActivity" />
        <activity android:name="com.example.eatit.Controleur.AjouterPoidsActivity" />
        <activity android:name="com.example.eatit.Controleur.AfficherUnContactActivity" />
        <activity android:name="com.example.eatit.Controleur.AjouterContactActivity" />
        <activity android:name="com.example.eatit.Controleur.AjouterRepasActivity"/>
        <activity android:name="com.example.eatit.Controleur.AfficherListeContactsActivity"/>
        <activity android:name="com.example.eatit.Controleur.MonProfilEtEvntActivity"/>
        <activity android:name="com.example.eatit.Controleur.MonRessentiActivity"/>
        <activity android:name="com.example.eatit.Controleur.CreationCompteActivity"/>
        <activity android:name="com.example.eatit.Controleur.ConnexionActivity"/>
        <activity android:name="com.example.eatit.Controleur.ExporterDonneesActivity"/>
        <activity android:name="com.example.eatit.Controleur.ModifierObjectifPersoActivity"/>
        <activity android:name="com.example.eatit.Controleur.ModifierObjectifPartageActivity"/>
        <activity android:name="com.example.eatit.Controleur.AjouterEvntActivity"/>
        <activity android:name="com.example.eatit.Controleur.AfficherEvenementsSanteActivity"/>
        <activity android:name="com.example.eatit.Controleur.AjouterObjectifPersoActivity"/>
        <activity android:name="com.example.eatit.Controleur.AjouterObjectifPartageActivity"/>
        <activity android:name="com.example.eatit.Controleur.MenuBasActivity"/>
        <activity android:name="com.example.eatit.Controleur.AfficherDonneesPoidsActivity"/>
        <activity android:name="com.example.eatit.Controleur.MesObjectifsActivity"/>
        <activity android:name="com.example.eatit.Controleur.MesRepasActivity"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>